// Global Typography Styles
@use "../abstract/variables" as *;

* {
  font-family: var(--poppins);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-regular);
  color: $secondary-color;
}
